<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    </head>
    <body>
        <h1 class="subtitle is-1 has-text-centered" style="margin-top: 5%;">Shearch Movies</h1>


        <div class="container" style="width: 40%; margin-bottom: 7%;">
            <div class="notification">
                <form action="/movies" method="POST">          
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                          <input class="input" type="text" name="movieName">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="field">
                            <label class="label">Genre</label>
                            <div class="select">
                                <select id="genres" name="genre">
                                    <% data.forEach(function(genre) {     %>                                    
                                        <option value="<%= genre  %>">
                                            <%= genre  %>                
                                        </option>  
                                        <%  })  %>
                                </select> 
                            </div>
                        </div>
                        <div class="field" style="margin-left: 4%;">
                            <label class="label">Language</label>
                            <div class="select is-fullwidth">
                                <select id="languages" name="language">
                                    <% lang.forEach(function(language) {     %>                                    
                                        <option value="<%= language  %>">
                                            <%= language  %>                
                                        </option>  
                                        <%  })  %>
                                  </select>
                            </div>
                        </div>
                        <input class="button is-primary" type="submit" value=Search style="margin-left: 4%; margin-top: 2em; width: 25em;">
                    </div>
                </form>
            </div>
            <p class ="has-text-danger has-text-centered has-text-weight-bold	"> <%=message%> </p>
          </div>

    </body>
</html>